*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block{
    position: fixed;
    border: 1px solid black;
    padding: 20px;
    left: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 99;
}

.item{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cube{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin-left: 50px;
    margin-top: 50px;
}

.cube__item{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    transition: .5s;
}

.body{
    transition: .5s;
    z-index: -1;
}